{% extends 'base.html' %}

{% block content %}
    <div class="follow-container">
        {% for pet in followers %}
            {{ pet.name }}
            {% if request.pet != pet %}
                <a href="{% url 'follow' pk=pet.pk %}?next={{ request.get_full_path }}">Follow</a>
            {% endif %}
        {% endfor %}

        {% for pet in following %}
            {{ pet.name }}
            <a href="{% url 'unfollow' pk=pet.pk %}?next={{ request.get_full_path }}">Unfollow</a>
        {% endfor %}
    </div>
{% endblock %}