{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    {% if object.petimage_set.first.image.url %}
    <div class="banner">
        <img src="{{ object.petimage_set.last.image.url }}" alt="profile banner">
    </div>
    {% else %}
    <div class="empty-banner"></div>
    {% endif %}
    <div class="profile-details">
        <div class="img-name">
            <div id="profile-img">
                <img src="{{ object.petimage_set.all.1.image.url }}" alt="profile image">
            </div>

            <div class="profile-data">
                {% if object.name %}
                    <h1>{{ object.name }}</h1>
                {% else %}
                    <h1>Name:</h1>
                {% endif %}

                <p>{{ object.age }} years old</p>

                {% if following %}
                    <a href="{% url 'unfollow' pk=object.pk %}">Unfollow</a>
                {% else %}
                    <a href="{% url 'follow' pk=object.pk %}">Follow</a>
                {% endif %}
            </div>
            <a href="{% url 'dog_or_cat' %}"><i class="fa-solid fa-gear"></i></a>
        </div>

        <div class="profile-nav">
            <a href="#">Likes</a>
            <a href="#">Friends</a>
            <a href="#">Photos</a>
            <a href="#">Interests</a>
        </div>

        <div class="details">
            
            <div class="description">
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}