{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    {% if object.petimage_set.first.image.url %}
    <div class="banner">
        <img src="{{ object.petimage_set.last.image.url }}" alt="profile banner">
    </div>
    {% else %}
    <div class="empty-banner"></div>
    {% endif %}
    <div class="profile-details">
        <div class="img-name">
            <div id="profile-img">
                <img src="{{ object.petimage_set.first.image.url }}" alt="profile image">
            </div>

            <div class="profile-data">
                {% if object.name %}
                    <h1>{{ object.name }} <a href="{% url 'dog_or_cat' %}"><i class="fa-solid fa-gear"></i></a></h1>
                {% else %}
                    <h1>Name: <a href="{% url 'dog_or_cat' %}"><i class="fa-solid fa-gear"></i></a></h1>
                {% endif %}

                <div class="follow-data">
                    <i class="fa-solid fa-user-group"></i>
                    <p><a href="{% url 'followers' pk=object.pk %}">{{ followers }} followers</a></p>
                    <p><a href="{% url 'following' pk=object.pk %}">{{ following_pets }} following</a></p>
                </div>

                {% if following %}
                    <a href="{% url 'unfollow' pk=object.pk %}">Unfollow</a>
                {% else %}
                    {% if request.pet != object %}
                        <a href="{% url 'follow' pk=object.pk %}">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="profile-nav">
            <a href="#">Publications</a>
            <a href="#">Info</a>
            <a href="#">Friends</a>
            <a href="#">Photos</a>
        </div>

        <div class="details">
            
            <div class="description">
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
</div>
<div id="form-pop-up">What's on your mind?</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/publication.js' %}"></script>
    <script>
        const popUpFormAction = Urls.publication();
        let CSRF_TOKEN = '{{ csrf_token }}';
    </script>
{% endblock %}