{% extends 'base.html' %}

{% block content %}
    <div class="profile-details">
        <img src="" alt="profile image">
        <div class="details">
            {% if object.name %}
                <h1>{{ object.name }}</h1>
            {% else %}
                <h1>Name:</h1>
            {% endif %}
            
            <p>{{ object.description }}</p>

            <p>I am {{ object.age }} years old.</p>
        </div>
         <a href="{% url 'dog_or_cat' %}">Edit</a>
    </div>
{% endblock %}