{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="hero">
        <div class="home-text">
            <h2>Blog your pet's life – one tail at a time!</h2>
        </div>
        <img id="home-img" src="{% static 'images/home_page.png' %}" alt="home image">
    </div>

    <div class="hero">
        <div class="home-text">
            <h2>Featured Pets 🐶🐱</h2>
            <div class="featured-pets">
                <div>[Bella 🐶]</div>
                <div>[Luna 🐱]</div>
                <div>[Ollie 🐹]</div>
                <div>[Ziggy 🐢]</div>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="home-text">
            <h2>Trending Posts 🔥</h2>
            <div class="trnding-posts">
                <div>[PostCard]</div>
                <div>[PostCard]</div>
                <div>[PostCard]</div>
            </div>
        </div>
    </div>
{% endblock %}