{% extends 'base.html' %}

{% block content %}
    {% if publications %}
        <div class="publication-container">
            {% for publication in publications %}
            <div class="publication-card">
                {% if publication.image %}
                    <img src="{{ publication.image.url }}" alt="publication image">
                {% endif %}
                <h3>{{ publication.title }}</h3>
                <p>{{ publication.text }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}