.follow-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#profile-img {
    background-color: #ECEDB0;
    border: 6px #D6D85D solid;
    border-radius: 50%;
    margin-top: -2em;
    width: 350px;
    height: 350px;
}

#profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.follow a {
    text-decoration: none;
    color: #f74904;
}

.follow-profile-nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5em;
    margin-left: 0;
    gap: 0.5em;
}

.follow-profile-nav a {
    text-decoration: none;
    color: #ee6c0f;
    font-weight: bold;
}

.followers {
    flex-basis: 60%;
}

.followers .card .pet-img {
    border-radius: 50%;
    margin-top: -2em;
    width: 150px;
    height: 150px;
}

.followers .card .pet-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card {
    display: flex;
    align-items: center;
    gap: 1.5em;
}