.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-container .banner {
    width: 90%;
    height: 300px;
}

.profile-container .empty-banner {
    width: 90%;
    height: 300px;
    background-color: #f9964f;
}

.profile-container .banner img {
    width: 100%;
    height: 100%;
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-details .profile-img {
    width: 200px;
    height: 200px;
    background-color: #edeec3;
    border: 10px #edeec3 solid;
    border-radius: 50%;
    margin-top: -3em;
}

.profile-details .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-details .no-profile-img {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border: 10px #edeec3 solid;
    border-radius: 50%;
    margin-top: -3em;
}

.profile-data {
    color: #F68537;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.profile-data p {
    margin-top: 0.3em;
}

.profile-data a {
    text-decoration: none;
    color: #F68537;
    margin-top: 0.3em;
}

.fa-gear {
    margin-left: 0.2em;
}

#following {
    margin-left: 0.3em;
}

/* Pop up start */

.form-pop-up {
    color: #fff;
    font-weight: 600;
    background-color: #F68537;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 0.5em;
    cursor: pointer;
}

.form-pop-up form {
    width: 90%;
}

.form-pop-up form label {
    margin-top: 0.7em;
}

.form-pop-up form input {
    height: 25px;
}

.form-pop-up form input, textarea {
    width: 90%;
    margin-top: 0.3em;
    border: none;
    border-radius: 5px;
    padding-left: 0.3em;
}

.form-pop-up form textarea {
    height: 250px;
    padding-top: 0.3em;
}

.form-pop-up form button {
    font-weight: bold;
    color: #fff;
    background-color: #f77111;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}

/* Pop up end */

.publications {
    margin: 1em 0;
    width: 70%;
}

.publication-card {
    background-color: #eee;
    margin-top: 2em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.user {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #F68537;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.user-img {
    width: 40px;
    height: 40px;
    border: 3px #fff solid;
    border-radius: 50%;
    margin-left: 0.5em;
}

.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content {
    margin: 1em 0;
    font-size: 25px;
}

.engagement {
    width: 100%;
    height: auto;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.engagement-div > form {
    width: 90%;
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engagement > form input {
    width: 70%;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 0.5em;
}

.form-btns {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
}

.form-btns button {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #f8781c;
    border: none;
    font-size: 13px;
    padding: 0 0.2em;
    padding-top: 0.1em;
    border-radius: 3px;
    cursor: pointer;
}

.cancel {
    color: #fff;
    background-color: #F68537;
    font-size: 13px;
    padding: 0 0.2em;
    padding-top: 0.1em;
    border-radius: 3px;
    cursor: pointer;
}

.fa-comment {
    color: #F68537;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.actions .fa-heart {
    color: red;
}

.comment-card .container {
    display: flex;
}

.comment-card {
    margin-top: 1em;
}

.comment-user-data {
    display: flex;
    align-items: center;
    gap: 0.2em;
    background-color: #f9964f;
    padding: 0.1em 0.3em;
    border-radius: 7px;
}

.comment-user-img {
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
}

.comment-user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment {
    background-color: #eee;
    padding: 0.1em 0.3em;
    border-radius: 10px;
    margin-left: 0.3em;
    display: flex;
    align-items: center;
}

.comment a {
    color: #000;
    text-decoration: none;
    font-size: 7px;
    margin-left: 0.5em;
    cursor: pointer;
}

.form-div {
    display: flex;
    align-items: center;
}

.form-div button {
    border: none;
    background: none;
    margin-left: 0.2em;
    cursor: pointer;
}

.edit-form-div {
    display: flex;
}

.edit-form-div > button {
    padding: 0.1em 0.3em 0 0.3em;
    border: none;
    cursor: pointer;
}

.comment form button {
    padding: 0.1em 0.3em 0 0.3em;
    border: none;
    margin-left: 0.2em;
    cursor: pointer;
}

#comment-edit {
    border: none;
    background-color: #eee;
}

.fa-times {
    color: red;
}

.fa-check {
    color: rgb(47, 207, 47);
}

.reply-card {
    margin-left: 1em;
    margin-top: 0.5em;
}

.reply-user-img {
    width: 17px;
    height: 17px;
    border: 0.5px #fff solid;
    border-radius: 50%;
}

.reply-user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reply-user-data {
    display: flex;
}

.reply {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 0.1em 0.3em;
    border-radius: 10px;
}

.reply button {
    border: none;
    background: none;
    margin-left: 0.2em;
    cursor: pointer;
}

.reply-div-btns button {
    border: none;
    background: none;
    font-size: 7px;
    margin-left: 0.5em;
    cursor: pointer;
}

.reply-div-btns a {
    color: #000;
    text-decoration: none;
    font-size: 7px;
    margin-left: 0.2em;
}

#reply-pet-name {
    font-size: 10px;
    color: #fff;
    background-color: #f8781c;
    padding: 0.1em 0.3em;
    border-radius: 15px;
}